/*POLICE */

@font-face {
    font-family: 'Aileron';
    src: url('Aileron.otf') format('otf')
}
@import url('https://fonts.googleapis.com/css2?family=Caladea:wght@700&display=swap');

/*1ERE PARTIE*/

h1, h2, h3{
    font-family: 'Caladea', serif;
}
p{
    font-family: 'Aileron', 'Times New Roman', 'Verdana';
}

header 
{
    height: 100vh;
    background-image: url("../picture/landscape.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;     
    text-align: center;  
}

span
{
    color: #d63c37;
}

#section2{
    background-color: #d63c37;
    padding-top: 20vw;
}

#fontwhite{
    color: #ffffff;
    text-decoration: underline;
}

h3{
    color: #ffffff;
}


/*2EME PARTIE */

#star::before
{
    content:"☆";
    left: -50px;
    position: absolute;
    color: #D63C37;
}

#moon::before
{
    content:"\263E";
    left: -50px;
    position: absolute;
    color: #D63C37;
}

#heart::before
{
    content:"\2606";
    left: -50px;
    position: absolute;
    color: #D63C37;
}
