/*1ERE PARTIE*/

header 
{
    height: 100vh;
    background-image: url("../picture/landscape.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;     
    text-align: center;  
}

span
{
    color: #d63c37;
}

#section2{
    background-color: #d63c37;
    padding-top: 20vw;
}

#fontwhite{
    color: #ffffff;
    text-decoration: underline;
}

h3{
    color: #ffffff;
}


/*2EME PARTIE */

.star::before
{
    content:"☆";
    left: -50px;
    position: absolute;
    color: #D63C37;
}

.moon::before
{
    content:"☆";
    left: -50px;
    position: absolute;
    color: #D63C37;
}

.heart::before
{
    content:"☆";
    left: -50px;
    position: absolute;
    color: #D63C37;
}


/*3EME PARTIE */